@import "components/weather/header.css";
@import "components/weather/first-section.css";
@import "components/weather/second-section.css";
@import "style.css";
@import "utils.css";


body{
    background-color: var(--clr-white-100);
}

svg{
    width: 11px;
    height: 11px;
    display: inline;
}


.btn{
    background-color: inherit;
    border: 1px solid black;
    color: var(--clr-black);
}

.search-city, .search-city-not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem !important;
    text-align: center;
}

.search-img{
    height: 350px;
    width: fit-content;
}

.search-city__desc{
    font-size: var(--size-32);
}




